#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.button {
  background-color: #9825f8;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.sidebar-collapsed {
  width: 50px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2rem;
}

.read-the-docs {
  color: #888;
}

/* .dropdown-menu {
  position: relative;
}
.dropdown-menu select {
  position: relative;
  z-index: 1050;
} */

.dropdown-menu {
  top: 100% !important;
  transform: translateY(0) !important;
}


